<form {{action 'login' username password on='submit'}}>
    <p>
        <label for="input-username">Логин</label>
        {{input type="text" id="input-username" value=username}}
    </p>
    <p>
        <label for="input-password">Пароль</label>
        {{input type="text" id="input-password" value=password}}
    </p>
    <p>
        <input type="submit" value="Войти">
    </p>
</form>

{{yield}}