<div class="mmc-home-content mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
        <h2 class="mdl-card__title-text">Добро пожаловать</h2>
    </div>
    <div class="mdl-card__supporting-text">
        Перед вами набор инструментов для Мета Моделинга Данных
        и много другого интересного
    </div>
    <div class="mdl-card__actions mdl-card--border">
        {{link-to "Начнем" "otypes" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"}}
    </div>
    <div class="mdl-card__menu">
        <!--<button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">-->
            <!--<i class="material-icons">share</i>-->
        <!--</button>-->
    </div>
</div>

{{outlet}}