<div class="mmc-otypes-tree-container mdl-shadow--4dp">
    <div class="mmc-otypes-tree">
        {{otypes-tree otypes=otypes onSelectOtypeAction='selectOtype'}}
    </div>
</div>
<div class="mmc-otype">
    <div class="mdl-grid">
        {{outlet}}
    </div>
</div>
